@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.con{
    background-color: rgba(235, 150, 40, 0.541);
    height: 40px;
    width: 1350px;
}

.con > marquee{
    font-size: 20px;
    color: black;
    font-family: "Poppins", sans-serif;
}

.home{
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 1350px;
    align-items: center;
    text-align: center;
}
.menu li{
    list-style-type: none;
    margin: 20px;
}
.menu ul{
    display: flex;
    justify-content: space-around;
}
.menu a:hover{
    color: rgb(237, 142, 18);
}
.logo{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 10px;
}
a.link{
    color: black;
    font-family: 'Poppins', sans-serif;
}
a:hover, .fa-cart-shopping:hover{
    color: grey;
}
.menu{
    display: flex;
}
.fa-cart-shopping{
    color: white;
}
.container{
    height: 110vh;
    width: 98.5vw;
    padding: 20px 220px;
    background-image: url(./img/istockphoto-1371318211-170667a.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-color: rgba(10, 10, 10, 0.5);
}
button.book{
    color: white;
    background-color: rgba(235, 150, 40, 0.541);
    text-align: center;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    padding: 5px 15px;
}
button.book:hover{
    transform: scale(1.1);
    background-color: rgb(237, 142, 18);
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
}
.con1,.con2{
    display: flex;
}
.con1 > .text h4{
    color: rgb(254, 254, 254);
    font-weight: 600;
    font-size: 35px;
}
.text{
    padding: 0px 5px;
}
.text > p{
    color: white;
    font-size: 5px;
    font-weight: 400;
    padding: 0px 10px;
}

.content > h3, .content > h5{
    color: white;
    font-weight: 600;
    font-size: 30px;
}
.content > p{
    font-weight: 400;
    font-size: 5px;
}

.con2a{
    width: 420px;
    height: 370px;
    background-color: rgb(235, 149, 36);
    margin-right:75px;
    border-radius: 0px 20px 0px 0px;
    margin-left: 110px;
}
.con2b{
    width: 420px;
    height: 390px;
    background-color: rgb(222, 218, 235);
    margin-right:55px;
    border-radius: 0px 0px 0px 20px;
    text-align: center;
    padding-top: 20px;
}

.context{
font-size: 5px;
color: white;
padding-top: 25px;
margin-left: 10px;
font-weight: 300;
text-align: center;
}

.context > h6{
word-spacing: 3px;
letter-spacing: 2px;
font-size: 20px;
}
.context > p {
font-size: 5px;
font-family: sans-serif;
font-weight: 200;
}
.context > hr{
    margin-left: 90px;
}

.con2b input, .con2b textarea{
 align-items: center;
 width: 320px;
 height: 47px;
 border-radius: 10px;
}

.con2b input::placeholder, .con2b textarea::placeholder{
    padding-left: 10px;
}

button{
    color: white;
    background-color: rgb(227, 135, 15);
    border-radius: 20px;
    border: none;
    padding: 5px 20px 5px 20px;
    font-weight: bolder;
    cursor: pointer;
}

button:hover{
    background-color: rgb(237, 142, 18);
}

i{
    color: rgb(74, 209, 74);
}
.last{
    display: flex;
    text-align: center;
    align-items: center;
    background-color: antiquewhite;
    height: 120px;
}

.last li{
    list-style-type: none;
    margin-left: 180px;
    text-align: center;
}

.last ul{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

a{
    color: black;
    text-decoration: none;
    align-items: center;
    font-family: "Poppins", sans-serif;
}
a:hover{
    color: rgb(237, 142, 18);
}
.Whatsapp{
    color: green;
}
.facebook{
    color: blue;
}
.instagram{
    color: rgb(226, 38, 216);
}
.twitter{
  color: #1bc1ef;
}
.foot3{
    color: black;
    text-align: center;
    font-family: 'Lucida Sans';
    background-color: antiquewhite;
    height: 50px;
}

.foot3 > a:hover{
    color: rgb(237, 142, 18);
}