@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.con{
    background-color: lightblue;
    height: 40px;
    width: 1350px;
}

.con > marquee{
    font-size: 20px;
    color: white;
    font-family: "Poppins", sans-serif;
}

.home{
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 1350px;
    align-items: center;
    text-align: center;
}
.menu li{
    list-style-type: none;
    margin: 20px;
}
.menu ul{
    display: flex;
    justify-content: space-around;
}
.logo{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 10px;
}
a.link{
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
a:hover, .fa-cart-shopping:hover{
    color: grey;
}
.menu a:hover{
    color: grey;
    text-decoration: underline;
}
.menu{
    display: flex;
}
.fa-cart-shopping{
    color: black;
    font-size: 15px;
}

.hero{
    height: 420px;
    width: 1350px;
    align-items: center;
    background: url(./img/photo-1504674900247-0877df9cc836.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.hero h1{
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: "Poppins" 'Nunito';
    font-weight: bolder;
    padding-top: 60px;
}

.hero p{
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    padding-top: 30px;
}

button.view{
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    font-size: 10px;
    font-family: "Poppins", sans-serif;
    margin-top: 60px;
    border: burlywood 3px solid;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin-left: 550px;
}
 
button.view:hover{
    background-color: black;
}

button.book{
    color: white;
    background-color: burlywood;
    text-align: center;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    margin-top: 60px;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
}
button.book:hover{
    transform: scale(1.1);
    z-index: 2;
    background-color: rgb(239, 195, 138);
}
.story{
    color: black;
    font-size: 40px;
   font-family: "Poppins";
    text-align: center;
}
.story > hr{
    width: 15%;
    border: 3px solid burlywood;
    border-radius: 5px;
    margin-left: 580px;
}

.story p{
    font-size: 20px;
}
.container{
    height: 450px;
    width: 1350px;
    display: flex;
    padding-left: 10px;
}
.conA,.conB{
    width: 690px;
}
.conA > h1{
    text-align: left;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    margin-top: 60px;
}

.dishes{
    padding-left: 10px;
}
.explore hr{
    height: 5px;
    background-color: burlywood;
    border: none;
    position: absolute;
    border-radius: 5px;
}
.explore{
    padding-left: 10px;
}
.con1{
    display: flex;
    width: 85vw;
    height: 50vh;
    margin-left: 90px;
}
.con1a,.con1b,.con1c,.con1d{
    border-radius: 10px;
    height: 280px;
    width: 350px;
    margin-left: 20px;
    box-shadow: 0px 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.content{
    margin-left: 25px;
    margin-top: 20px;
}

.content img{
    border-radius: 50%;
}
.content:hover{
    transform: scale(1.1);
    z-index: 2;
}

.here{
    line-height: 30px;
    font-size: 10px;
}

i{
    color: green;
    font-size: 10px;
    margin-left: 150px;
    margin-top: 20px;
    cursor:pointer;
}
.fieldseter{
    display: flex;
    align-items: center;
    padding-left: 45px;
}
fieldset{
    border-radius: 15px;
    background-color: antiquewhite;
    height: 52vh;
    width: 60vw;
    border:  none;
    margin: 35px;
    padding: 5px auto;
}
legend {
    text-align: center;
    align-items: center;
}

fieldset > p,fieldset > h4{
    text-align: center;
    font-size: 15px;
    line-height: 30px;
}

fieldset > legend img{
    border-radius: 50%;
}

.holder{
    display: flex;
}
.filder{
    margin: 35px auto;
    padding: 10px auto;
}

.filder > img{
    height: 120px;
    width: 120px;
}

.last{
    display: flex;
    text-align: center;
    align-items: center;
    background-color: antiquewhite;
    height: 120px;
    padding-left: 60px;
}

.last li{
    list-style-type: none;
}

.last ul{
    display: flex;
    justify-content: space-evenly;
}

a{
    color: black;
    text-decoration: none;
    align-items: center;
    font-family: "Poppins", sans-serif;
}
.Whatsapp{
    color: green;
    font-size: 20px;
}
.facebook{
    color: blue;
    font-size: 20px;
}
.instagram{
    color: rgb(226, 38, 216);
    font-size: 20px;
}
.twitter{
  color: #1bc1ef;
  font-size: 20px;
}
.foot3{
    color: black;
    text-align: center;
    font-family: 'Poppins',sans-serif;
    background-color: antiquewhite;
    height: 50px;
}