@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.con{
    background-color: rgba(235, 150, 40, 0.541);
    height: 40px;
    width: 1350px;
}

.con > marquee{
    font-size: 20px;
    color: black;
    font-family: "Poppins", sans-serif;
}

.home{
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 1350px;
    align-items: center;
    text-align: center;
}
.menu li{
    list-style-type: none;
    margin: 20px;
}
.menu ul{
    display: flex;
    justify-content: space-around;
}
.logo{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 10px;
}
a.link{
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
a:hover, .fa-cart-shopping:hover{
    color: grey;
}
.menu a:hover{
    color: rgb(237, 142, 18);
}
.menu{
    display: flex;
}


.hero{
    height: 420px;
    width: 1350px;
    align-items: center;
    background: url(./img/photo-1504674900247-0877df9cc836.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-blend-mode: overlay; 
    background-color: rgba(10, 10, 10, 0.5);
}

.hero h1{
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: "Poppins" 'Nunito';
    font-weight: bolder;
    padding-top: 60px;
}

.hero p{
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    padding-top: 30px;
}

button.view{
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    font-size: 10px;
    font-family: "Poppins", sans-serif;
    margin-top: 60px;
    border: burlywood 3px solid;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin-left: 600px;
}
 
button.view:hover{
    background-color: rgb(237, 142, 18);
    border-radius: 15px;
}

button.book{
    color: white;
    background-color: rgba(235, 150, 40, 0.541);
    text-align: center;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    padding: 5px 15px;
}
button.book:hover{
    transform: scale(1.1);
    background-color: rgb(237, 142, 18);
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
}

.drop-cap::first-letter {
    color: rgb(245, 191, 122);
    float: left;
    font-size: 5em;
    margin: 0 .1em 0 0;
    line-height: 0.85;
  }
  .drop-cap{
    line-height: 38px;
  }
.story{
    color: black;
    font-size: 40px;
   font-family: "Poppins";
    text-align: center;
}
.story > hr{
    width: 15%;
    border: 3px solid burlywood;
    border-radius: 5px;
    margin-left: 580px;
}

.story p{
    font-size: 20px;
}
.container{
    height: 450px;
    width: 1350px;
    display: flex;
    padding-left: 10px;
}
.conA,.conB{
    width: 690px;
}
.conB{
    margin-left: 20px;
}
.conA > h1{
    text-align: left;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    margin-top: 60px;
}

.dishes{
    padding-left: 10px;
}
.explore hr{
    height: 5px;
    background-color: burlywood;
    border: none;
    position: absolute;
    border-radius: 5px;
}
.explore{
    padding-left: 10px;
}
.con1{
    display: flex;
    width: 85vw;
    height: 50vh;
    margin-left: 90px;
}
.con1a,.con1b,.con1c,.con1d{
    border-radius: 10px;
    height: 280px;
    width: 350px;
    margin-left: 20px;
    background-color: antiquewhite;
}

.con1a:hover, .con1b:hover, .con1c:hover, .con1d:hover{
    box-shadow: 0px 3px 3px 4px rgba(0, 0, 0, 0.3);
}

.content{
    margin-left: 25px;
    margin-top: 20px;
}

.content img{
    border-radius: 50%;
}
.content:hover, .filder img:hover{
    transform: scale(1.1);
    z-index: 2;
}

.here{
    line-height: 30px;
    font-size: 10px;
}

.fa-arrow-right, .fab{
    color: green;
    font-size: 10px;
    margin-left: 150px;
    margin-top: 20px;
    cursor:pointer;
}
.fieldseter{
    display: flex;
    align-items: center;
    padding-left: 45px;
}
fieldset{
    border-radius: 15px;
    background-color: antiquewhite;
    height: 52vh;
    width: 60vw;
    border:  none;
    margin: 35px;
    padding: 5px auto;
}

legend, fieldset > h4 {
    text-align: center;
    align-items: center;
}


fieldset > p{
    text-align: left;
    font-size: 18px;
    line-height: 35px;
    margin-left: 5px;
}
.star{
    text-align: center;
}
.star:hover{
    color: rgb(237, 142, 18);
}
fieldset > legend img{
    border-radius: 50%;
}

.holder{
    display: flex;
}
.filder{
    margin: 35px auto;
    padding: 10px auto;
    text-align: center;
}

.filder > img{
    height: 120px;
    width: 120px;
}

.last{
    display: flex;
    text-align: center;
    align-items: center;
    background-color: antiquewhite;
    height: 120px;
    padding-left: 60px;
}

.last li{
    list-style-type: none;
}

.last ul{
    display: flex;
    justify-content: space-evenly;
}

a{
    color: black;
    text-decoration: none;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

a:hover{
    color: rgb(237, 142, 18);
}
.Whatsapp{
    color: green;
    font-size: 20px;
}
.facebook{
    color: blue;
    font-size: 20px;
}
.instagram{
    color: rgb(226, 38, 216);
    font-size: 20px;
}
.twitter{
  color: #1bc1ef;
  font-size: 20px;
}
.foot3{
    color: black;
    text-align: center;
    font-family: 'Poppins',sans-serif;
    background-color: antiquewhite;
    height: 50px;
}
.foot3 > a:hover{
    color: rgb(237, 142, 18);
}