*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    align-self: auto;
}
.home-page{
   background-color: white;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
}

nav{
    width: 100%;
    height: 10%;
    background-color: white;
    margin: 0;
}
.vector{
    margin-left: 50px;
}
.foodly-icon{ margin-right:30%;
        letter-spacing: 7px; 
        list-style-type: none; 
        margin-left: 60px; 
}
.nav-link{
    transition: 0.2s ease;
}
.nav-link:hover{
    color:#1C3144;
}
.login-button{
    background-color: #FFBA08;
    border-radius: 5px;
    height:30px;
}
.login-link{
        color: white;
}
.about{
    color: rgba(28, 49, 68, 0.75);;
}
ul{
    list-style-type: none;
    }
li {
    float: left;
    padding-top: 20px;
}
.nav-item{
    padding-left: 60px;    
}
li a{
    text-decoration: none;
    color:#1C3144;    
}
.active{
    color: #FFBA08;
}
.socials{
    margin-left: 30px;
}
.hamburger{
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
    margin-left: 30px;
    display: none;

}
.bar{
    display:block;
    width: 25px;
    height: 5px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: rgb(218, 58, 58);
    -webkit-transition: all 0.3s ease-in-out;
}
.our-story{
    width:100%;
    height:70%;
    position: relative;
    background: url("Rectangle\ 36.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;}
.our-storyheader{position: absolute;
    top: 50px;
    width:5%;
    border: 3px solid white;
    margin-left: 67px;
         }
   
.our-storyheader1{
    color: white;
    position: absolute;
    top: 90px;
    margin-left: 57px;
    line-height: 5%;

    
}
h6{color: #851D41;

    
}

.container-fluid{
    background-color: white;
    margin-top: 90px;
    padding:10px;
    transition: 1s;
}
    
.img1{float:left;
    margin-right: 37px;
    padding-right: 30px;
    margin-top: 0;

    }

.foodlyheader{
    width:19%;
    margin-bottom: 3px;
    margin-left: 5px;
    height: 0px;
    border: 2px solid;
    display: inline-block;
    color: #851D41;
  
}
.first-paragraph{
    text-align: center;
    padding: 5px;
    margin-bottom: 55px;
    color: #851D41;
        } 
.display-7{
    font-size: 18px;
}  
.h2{
    text-align: center;
    padding: 5px;
    margin-bottom: 2px;
}
.col{
    margin-right: 40px;
    margin-top: 25px;
    margin-left: 35px;
    border-radius: 25px;
    height:235px;
    margin-bottom: 25px;
    text-align: center;
    border: 1px solid black;
}
.fa-chess-king{
    height: 40px;
    margin-top: 20px;

}
.fa-truck-field{
    height: 40px;
    margin-top: 20px;
}
.fa-bowl-food{
    height: 40px;
    margin-top: 20px;
}/*
.fa-people-group{
    height: 40px;
    margin-top: 20px;
}*/
.h5{
    text-align: center;
}
.gif{
    width:100%;
    height:115px;
    position: relative;
    background-image: url("Rectangle\ 41.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; 
    margin-top: 75px;
    margin-bottom: 69px;

      
}  
.gifheader{
    position: absolute;
    top: 30px;
    font-size: 40px;
    left:380px;
    color: #FFBA08;
    

         }
.overlay{
    position: absolute;
    left:0;
    right:0;
     }
footer{
    
    background-color:  rgb(219, 219, 226, .1);
    width: 100%;
    height: 450px;
    margin-top: 70px;
    border: none;
    background-image: url("Group\ 24.png");
    background-repeat: no-repeat;
    background-size: 203px;
    background-position: right bottom;
    padding:60px; 
    position: relative;
}
.footer-h4{
    margin-left: 65px;
}
input{
    border: 1px solid #851D41;
    width:450px;
    height: 30px;
    padding: 15px;
    margin-left: 280px;
    background-color: white;
    margin-top: 3px;
}
button{
    border: none;
    width:100px;
    height: 33px;;
    background-color: #851D41;
    color: white;
}
.tableheader{
    width:69%;
    margin-top: 40px;
    height: 3px;
    background-color:  #1C3144;;
    margin-left: 65px;
}
table{
    margin:45px;
    position: relative;
 }
 .foodly{
    letter-spacing: 7px; 
    padding-left:9px;
 }
 .first-tabledata{
    padding-left:9px;
    }
td{
     padding-left: 140px;
     padding-bottom: 10px;
     opacity: 0.5;
}
th{
    padding-left: 140px;
    padding-bottom: 10px;
}
.layer2{
    
    margin-right: 3px;

}
.display-9{
    margin-left: 650px;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    opacity: 0.5;
}
/* responsiveness*/

@media only screen and (min-width:300px) and (max-width:330px){
    .home-page{
        margin-left: 0px;
        padding: 0px;
        margin-right: 0px;
    }
    .hamburger{
        display: block;
        margin-top: 20px;
        margin-left: 250px;

    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(12px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: absolute;
        left: -110%;
        top:60px;
        background-color: white;
        width:100%;
        transition: 0.3s;
        display: block;
        text-align: center;
        margin: 2px;
        z-index: 1;
        height: 90vh;
    
    }
    .nav-menu.active{
        left:0;
    }
    .nav-item{
        display: block;
        width: 100%;
        padding-right: 30%;
        padding-top: 36px;
       
    }
    nav{
        height: 40px;
    }
    
    .vector{
        margin-left: 15px;
        width: 30px;
    }
    .foodly-icon{ margin-right:12px;
            letter-spacing: 7px;
            font-size: 12px;
            margin-left: 2px; 
            padding-top: 3px;
            margin-top: -5px;  
    }
    .login-button{
       margin-left: 10px;
        margin-top: 0px;
}
.socials{
    margin-left: 2px}
    .nav-link{
        color:#1C3144;    
    }
    .active{
        color: #FFBA08;
    }
        
    .our-story{
        height:35%;
        background-size: 700px;}
    .our-storyheader{
            top: 30px;
            width:19%;
                 }
     .our-storyheader1{
            top: 70px;
        }
    .img1{
        padding-bottom: 45px;
        width:320px;
        padding-top: 30px;
        position: absolute;
        bottom: -200px;
        z-index: 1;

    }
    .h2{
        margin-top: 180px;
    }
    .gifheader{
        position: absolute;
        top: 35px;
        font-size: 22px;
        text-align: center;
         left:15px;
                 }
    .foodlyheader{
        width:29%;
}
    .container-fluid{
        background-color: white;
        margin-top: 20px;
        padding:10px;
        transition: 1s;
        position: relative;
}
    .display-7{
        text-align: justify;
        padding-bottom: 70px;
        padding-top: 5px;
}
.my-4{
    padding-bottom: 0;
}
    .col{
        height:280px;
        margin-bottom: 35px;
}
    footer{
        height: 800px;
        margin-top: 100px;
        padding-top: 60px; 
        position: relative;
        background-size: 170px;
        background-position: bottom;
        }
    .footer-h4{
         margin-left: 30px;
        }
    input{
        width:255px;
        padding: 25px;
        margin-left: 10px;
        margin-top: 33px;
        }
    button{
        margin-top: 20px;
        margin-left: 90px;
        }
    table{
        margin:12px;
         }
    .tableheader{
        margin-bottom: 30px;   
        }
    .foodly{
        letter-spacing: 3px;} 
    td{
        padding-left: 10px;
        opacity: 0.5;
        font-size: 11px;
        padding-bottom: 18px;
        }
    th{
        padding-left: 10px;
        padding-bottom: 18px;
        font-size: 11px;
        }
    .display-9{
        margin-left: 99px;
        bottom: -30px;
        font-size:12px;
        }

}

@media only screen and (min-width:360px) and (max-width:400px){
    .home-page{
        margin-left: 0px;
        padding: 0px;
        margin-right: 0px;
    }
    .hamburger{
        display: block;
        margin-top: 20px;
        margin-left: 299px;

    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(12px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: absolute;
        left: -110%;
        top:60px;
        background-color: white;
        width:100%;
        transition: 0.3s;
        display: block;
        text-align: center;
        margin: 2px;
        z-index: 1;
        height: 90vh;
    
    }
    .nav-menu.active{
        left:0;
    }
    .nav-item{
        display: block;
        width: 100%;
        padding-right: 27%;
        padding-top: 36px;
       
    }
    nav{
        height: 40px;
    }
    
    .vector{
        margin-left: 15px;
        width: 30px;
    }
    .foodly-icon{ margin-right:12px;
            letter-spacing: 7px;
            font-size: 18px;
            margin-left: 5px; 
            padding-top: 1px;
            margin-top: -3px;  
    }
.login-button{margin: auto;}
.socials{
    margin-left: 12px}
    .nav-link{
        color:#1C3144;    
    }
    .active{
        color: #FFBA08;
    }
.our-story{
    height:30%;
    background-size: 700px;}
    .our-storyheader{
        top: 30px;
        width:19%;
             }
    .our-storyheader1{
        top: 70px;
    }

    .img1{
        padding-bottom: 45px;
        width: 400px;
        padding-top: 30px;
        position: absolute;
        bottom: -200px;
        z-index: 1;

    }
    .h2{
        margin-top: 180px;
    }
    .gifheader{
        position: absolute;
        top: 33px;
        font-size: 22px;
        text-align: center;
         left:10px;
                 }
    .foodlyheader{
        width:29%;
}
    .container-fluid{
        background-color: white;
        margin-top: 40px;
        padding:10px;
        transition: 1s;
        position: relative;
    }
    .display-7{
            text-align: justify;
            padding-bottom: 70px;
            padding-top: 5px;
    }
    .my-4{
        padding-bottom: 0;
    }
    .col{
        height:280px;
        margin-bottom: 35px;
}
    footer{
        height: 800px;
        margin-top: 100px;
        padding-top: 60px; 
        position: relative;
        background-size: 220px;
        background-position: bottom;
        }
    .footer-h4{
         margin-left: 30px;
        }
    input{
        width:265px;
        padding: 10px;
        margin-left: 30px;
        margin-top: 33px;
        }
    button{
        margin-top: 20px;
        margin-left: 99px;
        }
    table{
        margin:8px;
         }
    .tableheader{
        margin-bottom: 30px;   
        }
    .foodly{
        letter-spacing: 5px;} 
    td{
        padding-left: 18px;
        opacity: 0.5;
        font-size: 12px;
        padding-bottom: 10px;
        }
    th{
        padding-left: 18px;
        padding-bottom: 16px;
        font-size: 12px;
        }
    .layer2{
        margin-right: 5px;
        width: 20px;
        }
    .display-9{
        margin-left: 109px;
        bottom: -30px;
        font-size:12px;
        }
    }

@media only screen and (min-width:401px) and (max-width:430px){
    .home-page{
        margin-left: 0px;
        padding: 0px;
        margin-right: 0px;
    }
    
    .hamburger{
        display: block;
        margin-top: 20px;
        margin-left: 330px;

    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(12px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: absolute;
        left: -110%;
        top:60px;
        background-color: white;
        width:100%;
        transition: 0.3s;
        display: block;
        text-align: center;
        margin: 2px;
        z-index: 1;
        height: 90vh;
    
    }
    .nav-menu.active{
        left:0;
    }
    .nav-item{
        display: block;
        width: 100%;
        padding-right: 25%;
        padding-top: 36px;
       
    }
    nav{
        height: 40px;
    }
    
    .vector{
        margin-left: 35px;
        width: 30px;
    }
    .foodly-icon{ margin-right:8px;
            letter-spacing: 7px;
            font-size: 18px;
            margin-left: 12px; 
            padding-top: 1px;  
    }
.login-button{margin: auto;}
.socials{
    margin-left: 12px}
    .nav-link{
        color:#1C3144;    
    }
    .active{
        color: #FFBA08;
    }

        
    .our-story{
        height:25%;
        background-size: 700px;}
        .our-storyheader{
            top: 30px;
            width:19%;
                 }
        .our-storyheader1{
            top: 70px;
        }
        
    .img1{
        padding-bottom: 45px;
        width:430px;
        padding-top: 30px;
        position: absolute;
        bottom: -200px;
        z-index: 1;

    }
    .h2{
        margin-top: 180px;
    }
    .gifheader{
        position: absolute;
        top: 35px;
        font-size: 22px;
        text-align: center;
         left:15px;
                 }
    .foodlyheader{
        width:29%;
}
    .container-fluid{
        background-color: white;
        margin-top: 40px;
        padding:10px;
        transition: 1s;
        position: relative;
    }
        .display-7{
            text-align: justify;
            padding-bottom: 70px;
            padding-top: 5px;
    }
    .my-4{
        padding-bottom: 0;
    }

    .col{
        height:280px;
        margin-bottom: 35px;
}
    footer{
        height: 800px;
        margin-top: 100px;
        padding-top: 60px; 
        position: relative;
        background-size: 190px;
        background-position: bottom;
        }
    .footer-h4{
         margin-left: 30px;
        }
    input{
        width:275px;
        padding: 25px;
        margin-left: 29px;
        margin-top: 33px;
        }
    button{
        margin-top: 20px;
        margin-left: 120px;
        }
    table{
        margin:25px;
         }
    .tableheader{
        margin-bottom: 30px;   
        }
    .foodly{
        letter-spacing: 5px;} 
    td{
        padding-left: 18px;
        opacity: 0.5;
        font-size: 12px;
        padding-bottom: 18px;
        }
    th{
        padding-left: 18px;
        padding-bottom: 18px;
        font-size: 12px;
        }
    .fa-utensils{
        margin-right: 5px;
        }
    .display-9{
        margin-left: 129px;
        bottom: -30px;
        font-size:12px;
        }
    }

@media only screen and (min-width:760px) and (max-width:1100px){
    .home-page{
        margin-left: 0px;
        padding: 0px;
        margin-right: 0px;
    }
    
    .hamburger{
        display: block;
        margin-top: 20px;
        margin-left: 640px;

    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(12px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: absolute;
        left: -110%;
        top:60px;
        background-color: white;
        width:100%;
        transition: 0.3s;
        display: block;
        text-align: center;
        margin: 2px;
        z-index: 1;
        height: 90vh;
    
    }
    .nav-menu.active{
        left:0;
    }
    .nav-item{
        display: block;
        width: 100%;
        padding-right: 10%;
        padding-top: 36px;
        font-size: 25px;
       
    }
    nav{
        height: 40px;
    }
    
    .vector{
        margin-left: 55px;
        width: 30px;
    }
    .foodly-icon{ margin-right:8px;
            letter-spacing: 7px;
            font-size: 18px;
            margin-left: 12px; 
            padding-top: 1px;  
    }
.login-button{margin: auto;
                height: 55px;
                width: 135px;}
.socials{
    margin-left: 12px}
    .nav-link{
        color:#1C3144;    
    }
    .active{
        color: #FFBA08;
    }

        
    .our-story{
        height:25%;
        background-size: 100%;}
        .our-storyheader{
            top: 30px;
            width:15%;
                 }
        .our-storyheader1{
            top: 70px;
        }
        
    .img1{
        padding-bottom: 45px;
        width:100%;
        padding-top: 30px;
        position: absolute;
        bottom: -200px;
        z-index: 1;

    }
    .h2{
        margin-top: 180px;
        font-size: 25px;
    }
    .first-paragraph{
        font-size: 18px;
    }
    .gifheader{
        position: absolute;
        top: 45px;
        font-size: 25px;
        text-align: center;
         left:205px;
                 }
    .foodlyheader{
        width:29%;
}
    .container-fluid{
        background-color: white;
        margin-top: 40px;
        padding:10px;
        transition: 1s;
        position: relative;
    }
        .display-7{
            text-align: justify;
            padding-bottom: 70px;
            padding-top: 5px;
            font-size: 20px;
    }
    .my-4{
        padding-bottom: 0;
    }

    .col{
        height:390px;
        margin-bottom: 35px;
}
    footer{
        height: 800px;
        margin-top: 100px;
        padding-top: 60px; 
        position: relative;
        background-size: 190px;
        background-position: bottom;
        }
    .footer-h4{
         margin-left: 30px;
         font-size: 20px;
        
        }
    input{
        width:475px;
        padding: 29px;
        margin-left: 49px;
        margin-top: 33px;
        }
    button{
        margin-top: 20px;
        margin-left: 1px;
        height:59px;
        }
    table{
        margin:25px;
         }
    .tableheader{
        width: 600px;
        margin-bottom: 30px;   
        }
    .foodly{
        letter-spacing: 5px;} 
    td{
        padding-left: 75px;
        opacity: 0.5;
        font-size: 20px;
        padding-bottom: 20px;
        }
    th{
        padding-left: 75px;
        padding-bottom: 20px;
        font-size: 20px;
        }
    .fa-utensils{
        margin-right: 10px;
        }
    .display-9{
        margin-left: 280px;
        bottom: -30px;
        font-size:16px;
        }}
@media only screen and (min-width:1200px) and (max-width:1400px){
   
.vector{
    margin-left: 20px;
}

.nav-item{
    padding-left: 38px;    
}

.socials{
    margin-left: 2px;
}
.our-storyheader{
    width:7%;
}
 
.display-7{
    font-size: 16px;
}
.gifheader{
    left:300px;
}
input{
    margin-left: 40px;
}  
}