*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    align-self: auto;
}
.home-page{
    background-color: white;
    margin: 5px;
    padding: 5px;
    width: 100%;
    height: 100vh;
}
.our-story{
    width:100%;
    height:50%;
    position: relative;
    background: url("1684599297131.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;}
.our-storyheader{position: absolute;
    top: 60px;
    width:5%;
    height:3px;
    background-color: white;
    margin-left: 47px;
    color: white;
     }
   
.our-storyheader1{
    color: white;
    position: absolute;
    top: 80px;
    margin-left: 37px;
}
.container-fluid{
    background-color: white;
    margin-top: 90px;
    padding:10px;
    transition: 1s;
}
    
.img1{float:left;
    margin-right: 39px;
    padding-right: 30px;
    margin-top: 0;}

.foodlyheader{
    width:19%;
    margin-bottom: 5px;
    margin-left: 5px;
    height: 3px;
    display: inline-block;
  
}
.first-paragraph{
    text-align: center;
    padding: 5px;
    margin-bottom: 55px;
        }   
.h2{
    text-align: center;
    padding: 5px;
    margin-bottom: 2px;
}
.col{
    margin-right: 40px;
    margin-top: 25px;
    margin-left: 35px;
    border-radius: 25px;
    height:235px;
    margin-bottom: 25px;
    text-align: center;
}
.fa-chess-king{
    height: 40px;
    margin-top: 20px;

}
.fa-truck-field{
    height: 40px;
    margin-top: 20px;
}
.fa-bowl-food{
    height: 40px;
    margin-top: 20px;
}/*
.fa-people-group{
    height: 40px;
    margin-top: 20px;
}*/
.h5{
    text-align: center;
}
.gif{
    width:100%;
    height:115px;
    position: relative;
    background: url("1684622191787.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; 
    margin-top: 75px;
    margin-bottom: 69px;  
}  
.gifheader{
    position: absolute;
    top: 30px;
    font-size: 40px;
    left:470px;
         }
footer{
    background-color:  rgb(247, 247, 250);
    width: 100%;
    height: 450px;
    margin-top: 70px;
    border: none;
    background-image: url("1684616245900.jpg");
    background-repeat: no-repeat;
    background-size: 350px;
    background-position: right bottom;
    padding:60px; 
    position: relative;
}
.footer-h4{
    margin-left: 65px;
}
.footer-paragraph{
    margin-left: 60px;
}
input{
    border: 1px solid brown;
    width:450px;
    height: 30px;
    padding: 15px;
    margin-left: 280px;
    background-color: white;
    margin-top: 3px;
}
button{
    border: none;
    width:100px;
    height: 33px;;
    background-color: brown;
    color: white;
}.tableheader{
    width:69%;
    margin-top: 40px;
    height: 3px;
    background-color: black;
    margin-left: 65px;
}
table{
    margin:45px;
    position: relative;
 }
 .foodly{
    letter-spacing: 7px; 
    padding-left:9px;
 }
 .first-tabledata{
    padding-left:9px;
    }
td{
     padding-left: 140px;
     padding-bottom: 10px;
     opacity: 0.5;
}
th{
    padding-left: 140px;
    padding-bottom: 10px;
}
.fa-utensils{
    height: 20px;
    background-color: yellow;
    margin-right: 13px;

}
.display-9{
    margin-left: 650px;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    opacity: 0.5;
}


 